<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Profile</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="booking">Booking</a></li>
            <li><a href="records">Records</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
    <h2>Your profile</h2>
    <section data-position="user">
        <% for ( var i=0; i<alltheusers.length; i++) { %>
        <a>Username: </a>
        <%= alltheusers[i].userId %> &nbsp;<br>
        <a>Password: </a>
        <%= alltheusers[i].password %> &nbsp;<br>
        <a>First Name: </a>
        <%= alltheusers[i].firstname %> &nbsp; <br>
        <a>Last Name: </a>
        <%= alltheusers[i].lastname %> &nbsp;<br>
        <a>Email: </a>
        <%= alltheusers[i].email %> &nbsp;<br>
        <a>Address: </a>
        <%= alltheusers[i].address %> &nbsp;<br>
        <a>Phone Number: </a>
        <%= alltheusers[i].phone %> &nbsp; <br>
        <% } %>
    </section>
</body>
</html>